*{
	margin: 0;
	padding: 0;

}
html{
	overflow-y: hidden;
}
.chat{
	width: 100vw;
	
	background-color: #2a2a2b;
}
.formulariomsg{	
	display: flex;
	padding: 1vh 2vw 0 2vw;
	background-color: #2D2D2D;
	
}
.mensagem{	
	width: 100%;
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;

	
}
#texto{
	
	
	margin-top:12px;

	width: 100vw;
	background-color: #2D2D2D;
}
.botaoEnviar{
	
	transition: 0.5s;
	margin-left: 4px;
	margin-top: 7px;
	margin-bottom: 5px;
}
.botaoEnviar:hover{
	transition: 0.5s;
	background-color: #96bd6f;
}
.textomensagem{
	margin-left: 2vw;
	margin-right: 2vw;
	background-color: white;
	border-radius: 10px;
	color: black;
	padding: 3px;
	border: 1px solid black;
	margin-bottom: 1vh;
}
.fundo{
	background-color: #2a2a2b;
	height: 94vh;
	overflow-y: scroll;
	overflow-x:hidden;
}
.nome{
	margin-left: 2vw;
	color: white;
	font-size: 1rem;
}#msg{
	padding: 10px;
	border-radius: 10px;
	background-color: #585858;
}


@media screen and (max-width: 700px) and (min-width: 390px){
	.chat{
		height: 90vh;
	}
	.formulariomsg{	
	
		padding: 0 2vw 0 2vw;	
	}
	.fundo{
		height: 94vh;
	}
}
@media screen and (max-width: 550px) and (min-width: 530px){
	.chat{
		height: 90vh;
	}
	.formulariomsg{	
	
		padding: 0 2vw 0 2vw;	
	}
	.fundo{
		height: 91.7vh;
	}
}
@media screen and (max-width: 380px) and (min-width: 200px){
	.fundo{
		height: 89.5vh;
	}
	.chat{
		height: 90vh;
	}
	.formulariomsg{	

		padding: 0 2vw 0 2vw;	
	}
}